<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinja2模板页面</title>
</head>
<body>
<div style="width: 300px; height: 800px; border: solid 2px red;
        text-align: center; padding: 20px; line-height: 25px">
    {# 使用{{}}引用模板变量，也可以进行基本运算，判断，循环等 #}
    <span>你的登录账号为：{{ session.get('username') }}</span><br/>
    <span>这篇文章的标题：{{ article.title }}</span><br/>
    <span>文章的阅读次数：{{ article.count + 1 }}</span>
    <br/><br/>
    {% if count % 2 == 0 %}
        <span>count可以被2整除，是一个偶数</span><br/><br/>
    {% else %}
        <span>count不可以被2整除，是一个奇数</span><br/><br/>
    {% endif %}
    {% set loop = count / 10 %}
    {% set intloop = loop|int %}
    {# Jinja2模板页面中不能调用python的函数 loop|int 使用过滤器(模板函数)将loop的数据类型修改为int #}
    {% for i in range(intloop) %}
        <span>当前循环第{{ i }}行</span><br>
    {% endfor %}
    {{ content | safe }} <br>
    {{ content | truncate(20)}}<br>
    {{ getTypes }} <br>
    {{ getTypes['1'] }} <br>
     <span>第二种方式</span><br/><br/>
    {{ mytype() }}<br>
    {{ '2222'|mylens}}

</div>
</body>
</html>